
# Database Configuration
DATABASE_URL=postgres://postgres:password@db:5432/events_db

# Token rate limit
RATE_LIMIT_RATE=100
RATE_LIMIT_CAPACITY=100

# Celery
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
CELERY_RESULT_BACKEND=rpc://
CELERY_ACCEPT_CONTENT=json
CELERY_TASK_SERIALIZER=json
CELERY_RESULT_SERIALIZER=json

#API_KEY
ACCESS_API_KEY=super_secret_key